includes:
	- phpstan-baseline.php

parameters:
	phpVersion: 80100
	tmpDir: build/phpstan
	level: 4
	paths:
		- src
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
